/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #973cf3;
  --ifm-color-primary-dark: #973cf3;
  --ifm-color-primary-darker: #973cf3;
  --ifm-color-primary-darkest: #973cf3;
  --ifm-color-primary-light: #973cf3;
  --ifm-color-primary-lighter: #973cf3;
  --ifm-color-primary-lightest: #973cf3;
  --ifm-code-font-size: 95%;
}

.navbar .navbar__logo { content: url(/img/logo.svg) }

/* html[data-theme='dark'] #home-logo { content: url(/img/dark-mode-full-logo.svg) }
html[data-theme='light'] #home-logo { content: url(/img/full-logo.svg) } */

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] code {
  background-color: rgb(16, 16, 16);
}

article {
  margin-bottom: 30px;
}


html[data-theme='dark'] .avatar a {
  color: var(--ifm-color-secondary-dark);
}

html[data-theme='light'] .avatar a {
  color: var(--ifm-color-gray-900);
}


#join-discord-img {
  content: url(/img/discord.svg);
}

html[data-theme='light'] #join-reddit-img {
  content: url(/img/reddit-light.svg);
}

html[data-theme='dark'] #join-reddit-img {
  content: url(/img/reddit-dark.svg);
}

html[data-theme='dark'] a[href^="/blog/20"] {
  color: var(--ifm-color-secondary-dark);
}

html[data-theme='light'] a[href^="/blog/20"] {
  color: var(--ifm-color-gray-900);
}

a[href^="/blog/20"]:hover {
  text-decoration: underline;
}

hr {
  border-top-width: 6px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-style: dotted;
  margin-left: 45%;
  margin-right: 45%;
  border-color: var(--ifm-color-primary);
}

.with-gradient {
  background: linear-gradient(322deg, rgba(139,48,231,1) 37%, rgba(243,60,217,1) 100%);
}

.with-gradient:hover {
  opacity: 0.9;
  background: linear-gradient(322deg, rgba(139,48,231,1) 37%, rgba(243,60,217,1) 100%);
}

.with-gradient-outline:hover {
  background: linear-gradient(322deg, rgba(139,48,231,1) 37%, rgba(243,60,217,1) 100%);
}